<div class="main" fxLayout="row" fxLayoutAlign="space-around center" style="margin-top: 9%;">
    <div>
        <img src="assets/icon/remainder.svg">
    </div>

    <div>
        <img src="assets/icon/collab.svg">
    </div>

    <div>
        <img src="assets/icon/colorpalate.svg">
    </div>

    <div>
        <img src="assets/icon/addImage.svg">
    </div>

    <div>
        <img src="assets/icon/archive-24px.svg">
    </div>

    <div>
        <img src="assets/icon/more_vert-24px.svg">
    </div>

    <div>
        <img src="assets/icon/undo-24px (1).svg">
    </div>

    <div>
        <img src="assets/icon/redo-24px.svg">
    </div>
</div>