<div class="main-div">
    <mat-card class="matCard">  <h3 style="align-items: center;">Login Form</h3>
        <div>
             <mat-form-field appearance="legacy">
              <mat-label>Username</mat-label>
              <input matInput placeholder="username">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="legacy" >
              <mat-label>Password</mat-label>
              <input matInput type="password" placeholder="password">
            </mat-form-field>
        </div>

        <div>
            <button mat-raised-button (click)="Submit()">Submit</button>
        </div>    
    
    </mat-card>

</div>